/* Google font */
@import url(<link href="https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap" rel="stylesheet">);
/* CSS reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    background-color: rgb(20, 18, 146);
    color: #fff;
}
/* Utility class*/
.container{
  max-width: 750px;
  margin: 3rem auto;
  padding: .6rem;
}
#title{
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.2;
    padding: .6rem;
}
#description{
    font-size: 1.1rem;
    text-align: center;
    padding: .3rem;
    margin-bottom: 1rem;
}
#Survey-form{
    background-color: rgb(14, 3, 61);
    padding: 3rem 2.5rem;
    border-radius: 7px;
}
.form-group{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.form-group label{
    display: block;
    margin-bottom: .5rem;
}
#name,#email,#age,#dropdown-selector-role,#favorite-selector-role,#comments,#btn-submit{
    width: 100%;
    padding: .6rem;
    border-radius: 6px;
    font-size: 1.2rem;
}
#definetly{
    margin: 10px;
    /* padding: 12px; */
}
#maybe{
    margin: 10px;
    /* padding: 12px; */
}
#notsure{
    margin: 10px;
    /* padding: 12px; */
}
#comments{
    padding: 2px 3px;
    margin-bottom: 2rem;
}
#btn-submit{
    background-color: green;
    margin: 2px 3px 2px 3px;
}
#created-by{
    text-align: center;
    font-size: 20px;
    margin: 5px;

}